@import "../../../assets/abstracts/index.scss";

.selectorItem {
  @include font-style(0.9rem, 700, normal);
  letter-spacing: 0.21px;
  padding: 10px;
  flex: 1;
  cursor: pointer;
  text-align: center;

  &.active {
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.5s linear;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
    cursor: auto;
  }
}
