@import "../../../assets/abstracts/index.scss";

.root {
  width: 100%;
  margin-top: 100px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // TMP
    width: 560px;
    margin: 0 auto;
  }

  .sectionTitle {
    @include font-style(2rem, 700, normal);
    letter-spacing: 0.32px;
    padding-bottom: 10px;
  }

  .sectionDescription {
    @include font-style(1.1rem, 400, 1);
    color: $text-color-gray;
    text-align: center;
    padding-bottom: 47px;
  }
  .link {
    margin-top: 74px;
    background: #282828;
  }
}
