$background-body-light: #ffdf8c;
$background-body-dark: #141414;

$background-page-light: #fff;
$background-page-dark: #141414;

$interface-color-orange: #eb5a1e;
$interface-color-light-gray: #f6f6f6;
$interface-color-white: #fff;

$text-color-black: #181818;
$text-color-gray: #7b7b7b;
$text-color-white: #fff;
$text-color-orange: #fe5f1e;
